* {
	font-family: 'Montserrat', sans-serif;
}

/* About Title */
.flex-columns .about-title {
	background: url(../images/mic.jpg) no-repeat center center/cover;
	background-position: 50% 25%;
	color: #fff;
}

.flex-columns .column .column-1.about-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
}

.flex-columns .column .column-1.about-title h2 {
	font-size: 2.5rem;
	padding-bottom: 4rem;
	font-weight: 100;
}

.flex-columns .column .column-1.about-title p {
	font-size: 1.2rem;
	font-weight: 200;
	padding-top: 3rem;
}

/* Credits */
.flex-columns .column .column-2.credits {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 2rem;
}

.flex-columns .column .column-2.credits h1 {
	font-size: 2.3rem;
}

.flex-columns .column .column-2.credits p {
	line-height: 1.4rem;
	padding-top: 3rem;
}

.flex-columns .column .column-2.credits a {
	color: #4b0f0f;
	font-weight: bold;
}

/* Mobile Styles */
@media (max-width: 425px) {
	.flex-columns .column .column-1.about-title p {
		padding-top: 0;
	}

	.flex-columns .column .column-1.about-title h2 {
		padding-bottom: 2rem;
	}

	.flex-columns .column .column-2.credits h1 {
		font-size: 2rem;
	}

	.flex-columns .column .column-2.credits p {
		font-size: 0.8rem;
		padding-top: 2rem;
	}

	.flex-columns .column .column-2.credits {
		padding-top: 0;
	}
}
