.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: black;
	bottom: 0;
	left: 0;
	min-height: 4rem;
	position: fixed;
	width: 100%;
	z-index: 2;
}

.footer__links {
	display: flex;
}

.footer__links .social {
	color: #c4c4c4;
}

.footer__links .social:hover {
	color: #fff;
}

.footer__item {
	padding: 1rem;
}
