.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: black;
	bottom: 0;
	left: 0;
	min-height: 8vh;
	position: fixed;
	width: 100%;
}

.footer__links {
	display: flex;
}

.footer__item {
	padding: 1rem;
}
