/* Flexbox layout */

/* .grid {
	position: absolute;
	width: 100vw;
	height: 90vh;
	top: 8rem;
}

.container {
	height: 25%;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
*/

/* .songTile {
	background: grey;
} */

.songTile:hover {
	opacity: 0.8;
	transition-duration: 0.5;
	cursor: pointer;
}

/* Grid layout */

.container {
	display: grid;
	margin-top: 12vh;
	margin-bottom: 8vh;
	margin-left: 5vw;
	margin-right: 5vw;
	height: 100vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		'tile tile tile tile'
		'tile tile tile tile'
		'tile tile tile tile';
	grid-gap: 2rem;
}

.songTile {
	grid-area: 'tile';
}
