/* Mobile view */

.container {
	position: relative;
	display: grid;
	margin-top: 12vh;
	margin-bottom: 39vh;
	margin-left: 5vw;
	margin-right: 5vw;
	height: 100vh;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(12, 1fr);
	grid-template-areas:
		'tile'
		'tile'
		'tile'
		'tile'
		'tile'
		'tile'
		'tile'
		'tile'
		'tile'
		'tile'
		'tile'
		'tile';
	grid-gap: 0.5rem;
}

.songTile {
	grid-area: 'tile';
	height: 40vh;
}

.songTile:hover {
	opacity: 0.8;
	transition-duration: 0.5;
	cursor: pointer;
}

/* desktop views */

@media screen and (min-width: 640px) {
	.container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
			'tile tile'
			'tile tile'
			'tile tile'
			'tile tile'
			'tile tile'
			'tile tile';
		grid-gap: 2rem;
	}

	.songTile {
		height: 60vh;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas:
			'tile tile tile tile'
			'tile tile tile tile'
			'tile tile tile tile';
		grid-gap: 2rem;
	}

	.songTile {
		height: 40vh;
	}
}
