.songWindow {
	position: absolute;
	top: 0;
	background-color: white;
	display: grid;
	height: 75vh;
	padding: 3vh 3vw;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.5fr 1fr;
	grid-template-areas:
		'image audio'
		'image lyrics';
	grid-gap: 1rem;
	border: 1px solid black;
	box-shadow: 1px 1px 2px rgb(49, 49, 49);
	overflow-y: scroll;
	z-index: 200;
}

.songWindow__image {
	grid-area: image;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	max-width: 24rem;
	background-size: cover;
}

.songWindow__audio {
	grid-area: audio;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.songWindow__lyrics {
	grid-area: lyrics;
	display: flex;
	justify-content: center;
}

audio:focus {
	outline: none;
}

.close {
	top: 0;
	right: 0.75rem;
	position: absolute;
	transform: rotate(45deg);
	font-size: 2rem;
	cursor: pointer;
}

.close:hover {
	filter: opacity(0.6);
}
